# gatsby files
node_modules/
.cache/
public/
.gatsby-context.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.intermediate-representation/

# visual studio code
.vscode/

# Yarn
yarn.lock
.pnp/
.pnp.js
.yarn-integrity

package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# others
.env

# txt
# deploy_cmd.txt

*.js
*.map